<p>
  Prueba de sockets!
</p>

<form [formGroup]="userForm" (submit)="openSocket()" *ngIf="isLoaded">
  <p>Introduce un id </p>
  <div style="margin-bottom: 20px;">
    <input type="text" formControlName="fromId" name="fromId" placeholder="Id">
    <input type="submit" [disabled]="userForm.invalid || isCustomSocketOpened" value="abrir socket">
  </div>
  <input type="text" formControlName="toId" name="toId" placeholder="Id de receptor">
</form>
<form [formGroup]="form" (submit)="sendMessageUsingSocket()">
  <p>Mensaje: </p>
  <input type="text" formControlName="message" name="mensaje" placeholder="Message">
  <input type="submit" [disabled]="form.invalid || userForm.invalid" value="Enviar usando socket">
  <input type="button" [disabled]="form.invalid || userForm.invalid" value="Enviar usando controlador rest" (click)="sendMessageUsingRest()">
</form>
<ul>
  <li *ngFor="let message of messages">De: {{message.fromId}}, A: {{message.toId}}, Mensaje: {{message.message}}</li>
</ul>
